body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ffcccb;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    color: #333;
}

#favorite-teddy-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

img {
    max-width: 300px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #ffcccb;
    text-align: center;
    padding: 10px;
}
